# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
.open-next/
build/
dist/

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Debug
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cloudflare
.wrangler/
.dev.vars

# Database
*.db
*.sqlite
*.sqlite3

# TypeScript
*.tsbuildinfo

